RPC_URL=https://injectiveevm-testnet-rpc.polkachu.com
PRIVATE_KEY=replace_with_your_private_key
CONTRACT_ADDRESS=replace_with_deployed_contract_address
VERIFIER_URL=https://testnet.blockscout-api.injective.network/api/
GAS_PRICE=160000000
GAS_LIMIT=2000000
INCREMENT_AMOUNT=1
